.pricing-table-frontend {

    h2 {
        margin-bottom: 20px;
    }
    .cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 30px;
        margin-top: 50px;
    }

    .card {
        border: 1px solid #ddd;
        border-radius: 25px;
        padding: 15px;
        background: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        &.recommended {
            transform: scale(1.1);
            border: 2px solid #f39c12;
        }

        .dashicons {
            scale: 1.5;
        }

        h3 {
            margin: 10px 0;
        }

        p {
            margin-bottom: 15px;
        }

        .card-icon {
            display: flex;
            padding: 20px;
            background-color: #ffffff47;
        }

        .card-title {
            font-size: 24px;
        }

        .card-features {
            text-align: left;
        }

        .pricing-table-price {
            margin-bottom: 15px;

            .previous-price {
                text-decoration: line-through;
                margin-right: 10px;
            }

            .current-price {
                font-weight: bold;
                font-size: 30px;
            }
        }

        .btn {
            background-color: #007cba;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            text-align: center;
            cursor: pointer;

            &:hover {
                background-color: #006ba1;
            }
        }
    }
}